<ion-list>
  <ion-list-header>
    <ion-text color="primary" >
      <h4>{{ 'header.Your Notifications' | translate }}</h4>
    </ion-text>
  </ion-list-header>
  <ion-item button>
    <ion-icon name="notifications" slot="start"  color="primary"></ion-icon>
    <ion-label>{{ 'header.Notification' | translate }} #1</ion-label>
  </ion-item>
  <ion-item button>
    <ion-icon name="notifications" slot="start" color="secondary"></ion-icon>
    <ion-label>{{ 'header.Notification' | translate }} #2</ion-label>
  </ion-item>
  <ion-item button>
    <ion-icon name="notifications" slot="start" color="danger"></ion-icon>
    <ion-label>{{ 'header.Notification' | translate }} #3</ion-label>
  </ion-item>
  <ion-item button>
    <ion-icon name="notifications" slot="start" color="sucess"></ion-icon>
    <ion-label>{{ 'header.Notification' | translate }} #4</ion-label>
  </ion-item>

</ion-list>