<ion-header>
  <app-top-header [title]="title" [mode]="true" [hrefBack]="'/partners'"></app-top-header>
</ion-header>

<ion-content>
  
    <form #f="ngForm" (ngSubmit)="submit(f)">
      <ion-grid>
        <ion-row>
          <ion-col size.sm="6" offset.sm="3">
            <ion-item>
              <ion-label position="floating">{{ 'partner.Partner Name' | translate }}</ion-label>
              <ion-input type="text" name="display_name" #display_name="ngModel" [(ngModel)]="partner.display_name"  autocomplate autocorrect></ion-input>
            </ion-item>
            <ion-item *ngIf="!display_name.valid && display_name.touched" lines="none">
              <ion-text color="danger">
               {{ 'partner.Partner Name Field Required' | translate }}
              </ion-text>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size.sm="6" offset.sm="3">
            <ion-item>
              <ion-label position="floating">{{ 'partner.Partner E-mail' | translate }}</ion-label>
              <ion-input type="email"  name="email" #email="ngModel" [(ngModel)]="partner.email"></ion-input>
            </ion-item>
            <ion-item *ngIf="!email.valid && email.touched" lines="none">
              <ion-text color="danger">
                {{ "partner." | translate }}
              </ion-text>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col>
            <ion-button type="submit" expand="block">
             
              {{ 'partner.Save' | translate  }}</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>


    </form>
</ion-content>
