ion-segment {
    padding-top: 10px;
    padding-left: 5px;
    padding-bottom: 0px;
    background: var(--ion-color-light);
    padding-right: 5px;
    border-bottom: 1px solid var(--ion-color-light-shade);
}