<ion-tabs>
  <ion-tab-bar slot="bottom">
      <ion-tab-button tab="yourdashboard">
          <ion-label>Dashboard</ion-label>
          <ion-icon name="analytics"></ion-icon>
      </ion-tab-button>
      
      <ion-tab-button tab="quotation">
        <ion-label>Qoutation</ion-label>
        <ion-icon name="pricetags"></ion-icon>
      </ion-tab-button>
      
      <ion-tab-button >
          <ion-label>Messages</ion-label>
          <ion-icon name="chatbubbles"></ion-icon>
      </ion-tab-button>

    <ion-tab-button >
    
      <i class="fas fa-ellipsis-v fa-2x"></i>
  </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>