

<ion-content>

  <div id="profile-img">
    <div class="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
          <ion-title>
            <ion-img src="assets/images/logo.png"></ion-img>
          </ion-title>
        </ion-toolbar>
      </ion-header>

      <div class="profile">
        <div class="grid">
          <ion-row>
            <ion-col>
              <div class="user-img ion-text-center">
                <ion-img src=""></ion-img>
              </div>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-title class="ion-text-center">
                  Your Ranking
                </ion-card-title>

                <div class="content">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-img src="assets/images/ranking.png"></ion-img>
                      </ion-col>
                      <ion-col>
                        <h1>12</h1>
                      </ion-col>
                      <ion-col>
                        <ion-img src="assets/images/arrow-bottom.png"></ion-img>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-title class="ion-text-center">
                  Your Productino in 1000 EGP
                </ion-card-title>

                <div class="content">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-img src="assets/images/production.png"></ion-img>
                      </ion-col>
                      <ion-col>
                        <h1>4,712</h1>
                      </ion-col>
                      <ion-col>
                        <ion-img src="assets/images/arrow-top.png"></ion-img>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>

          <ion-row>
            <ion-col>
              <ion-card>
                <ion-card-title class="ion-text-center" >
                  Your Collection Rate
                </ion-card-title>

                <div class="content">
                  <ion-grid>
                    <ion-row>
                      <ion-col>
                        <ion-img src="assets/images/collection-rate.png"></ion-img>
                      </ion-col>
                      <ion-col>
                        <h1>60%</h1>
                      </ion-col>
                      <ion-col>
                        <ion-img src="assets/images/arrow-right.png"></ion-img>
                      </ion-col>
                    </ion-row>
                  </ion-grid>
                </div>
              </ion-card>
            </ion-col>
          </ion-row>


        </div>
      </div>

    </div>
  </div>

</ion-content>
